body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 18px;
    background: var(--background);
    line-height: normal;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
    --side_bar_width: 300px;
    --bs-card-spacer-x: 0rem;
    --bs-card-spacer-y: 0rem;
    --background: radial-gradient(circle at 52.1% -29.6%, rgb(240, 240, 240) 0%, rgb(220, 220, 220) 100.2%);
    --title-color: #4173d9;
    --text-color: black;
    --nav-footer-bg-color: #4b7ade;
    --nav-border-color: #353038;
    --nav-active-border-color: rgba(65, 65, 65, 0.5);
    --nav-label-color: rgba(42, 42, 42, 0.7);
    --nav-description-color: rgba(49, 49, 49, 0.75);
    --btn-light-color: rgba(28, 28, 28, 1);
    --btn-grey-color: rgba(96, 96, 96, 0.22);
    --btn-hover-color: rgba(33, 33, 33, 0.45);
}

[data-bs-theme="dark"] {
    --background: radial-gradient(circle at 52.1% -29.6%, rgb(29, 25, 32) 0%, rgb(53, 48, 56) 100.2%);
    --title-color: white;
    --text-color: white;
    --nav-footer-bg-color: #1d1920;
    --nav-border-color: #353038;
    --nav-active-border-color: rgba(255, 255, 255, 0.1);
    --nav-label-color: rgba(255, 255, 255, 0.7);
    --nav-description-color: rgba(255, 255, 255, 0.5);
    --btn-light-color: rgba(231, 228, 235, 1);
    --btn-grey-color: rgba(231, 228, 235, 0.22);
    --btn-hover-color: rgba(255, 255, 255, 0.7);
}

#root {
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*#region Navbar*/

.navbar-brand {
    font-size: 25px;
}

nav {
    font-size: 15px;
    background-color: var(--nav-footer-bg-color) !important;
    border: 1px solid var(--nav-border-color) !important;
}

.navbar-nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    padding: 5px 15px !important;
    padding-right: 25px !important;
}

.nav-link.active {
    border: 1px solid var(--nav-active-border-color);
}

.nav-link > .navIcon {
    font-size: 20px;
}

.nav-link > .navItem > .navLabel {
    font-size: 14px;
}

.nav-link > .navItem > .navDescription {
    font-size: 11px;
    color: var(--nav-description-color);
}

.nav-link.active > .navItem > .navDescription {
    font-size: 11px;
    color: var(--nav-description-color);
}

/*#endregion*/

.z-1 {
    z-index: 1;
}

.particles {
    z-index: 0;
}

.btn.btn-primary {
    background: var(--btn-grey-color) !important;
    border-color: var(--btn-light-color) !important;
    color: var(--text-color) !important;
}

.btn.btn-primary:hover {
    background-color: var(--btn-hover-color) !important;
}

.btn-theme {
    display: inline-block;
}

.btn-sm-theme {
    display: none;
}

a {
    color: var(--text-color);
}

h1 {
    color: var(--title-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 4em;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}

h2 {
    color: var(--title-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}

footer {
    background-color: var(--nav-footer-bg-color) !important;
    width: 100%;
    font-size: 14px;
}
