@media only screen and (min-width: 1200px) {
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }
}


@media only screen and (max-width: 1200px) {
    .navbar-nav .nav-link {
        width: 100%;
    }

    .btn-theme {
        display: none !important;
    }

    .btn-sm-theme {
        display: inline-block !important;
    }

    h1 {
        font-size: 3em !important;
    }

    h2 {
        font-size: 2.5em !important;
    }

    .project-img {
        height: 300px !important;
    }
}

@media only screen and (max-width: 1000px) {
    .image-overlay {
        font-size: 12px !important;
        padding: 5px !important;
    }

    .project-img {
        height: 250px !important;
    }

    .row {
        display: block;
    }
}

@media only screen and (max-width: 780px) {
    .img-responsive {
        max-width: 250px !important;
        max-height: 300px !important;
    }

    h2 {
        font-size: 2em !important;
    }

    h3 {
        font-size: 1.2em !important;
    }

    .project-img {
        height: 200px !important;
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 2.5em !important;
    }
}

@media (pointer: coarse) {
    .mobile {
        display: block !important;
    }

    .image-overlay {
        display: none !important;
    }
}