.project-card {
    border: 2px solid #0e0e7c;
    width: auto !important;
}

.image-overlay {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.project-card:hover .image-overlay {
    opacity: 1;
}

.project-img {
    width: 100% !important;
    height: 350px !important;
    object-fit: cover !important;
}

.project-img-xl {
    width: 100% !important;
    height: 700px !important;
}

.download-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding: 20px 30px !important;
    background: linear-gradient(to right, rgba(22, 48, 56, 0.1), rgba(79, 72, 84, 0.2)) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
    margin: 1.5rem 0 1.5rem .5rem !important;
}

.download-button:hover {
    background: linear-gradient(to right, rgba(128, 128, 128, 0.22), rgba(128, 128, 128, 0.22)) !important;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.download-icon {
    margin-left: .5rem !important;
}

.download-button .download-icon {
    font-size: 2.5rem;
    color: grey;
}

.icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 75%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.icon-container svg {
    width: 24px;
    height: 24px;
    color: rgba(128, 128, 128, 1);
    object-fit: contain;
}
